<% @page_title = 'Reset Password Sent' %>

<div class="section">

  <div class="column-left">
    <h1 class="page-title">Forgot Password</h1>
  </div>

  <div class="column-right">
    <p>An email with instructions for updating your password has been sent.</p>
  </div>

</div>