<% @page_title = 'Reset Password Error' %>

<div class="site-error-page">
  <h1>The password could not be reset</h1>
  <p>The token may have expired or password may have already been reset.</p>
  <p><%= link_to('Log in', login_path) %></p>
</div>