.clearfix {
  display:block;
  clear:both;
}

body {
  padding-top: 40px;
}

html, body {
  height: 98%;
}

.navbar-inverse .navbar-inner {
  background-image: -webkit-gradient(linear, 0 0, 0 150%, from(#522), to(#944));
}

html body {
  background-image: url(purty_wood.png);
}

.error {
  padding:20px;
  text-align:center;
  background:rgba(255, 0, 0, 0.4);
  color:white;
  letter-spacing:0.2em;
}

.notice {
  padding:20px;
  text-align:center;
  background:rgba(0, 150, 100, 0.4);
  color:white;
  letter-spacing:0.2em;
}

div.main.container {
  background: rgba(255, 255, 255, 0.8);
  padding: 1.5em;
}

div.main.container.centered {
  width:300px;
  margin:auto;
  background: rgba(255, 255, 255, 0.8);
  padding: 1.5em;
  border-radius: 15px;
  box-shadow: 2px 2px 3px 2px rgba(4, 0, 0, 0.3);


  margin-top:125px;
  border: 3px solid rgba(234, 255, 255, 0.8);
  &.large {
    width:600px;
  }
  label {
    font-size:16px;
    margin-bottom:10px;
  }
  dd {margin-left:0px;}
  input[type='password'], input[type='email'], input[type='text'] {
    margin-left:0px;
    width:280px;
    height:30px;
  }
  input[type='submit']{
    border-radius: 5px;
    padding:5px 15px;
    background-image: -webkit-gradient(linear, 0 0, 0 150%, from(#FFF), to(#ababab));

  }
  button {
    font-size:24px;
  }
  a {
    float:right;
  }
}

.ticket {
  border: 1px solid gray;
  border-radius: 5px;
  padding:5px 10px 5px 10px;
  .number {
    padding: 15px 0px 0px 10px;
    float:left;
    font-size:26px;
    width:50px;
    small {
      font-size: 14px;
      vertical-align: super
    }
  }
  .ticket-content {
    float:left;
    padding-left:20px;
    width:600px;

    .lead {
      margin-top:0px;
      margin-bottom:2px;
    }

    .created-by {
      color:gray;
    }
    .status {
      float:right;
    }
  }

}


.comment {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  header {
    a {
      margin-left:25px;
      margin-top:20px;
    }
  }

}

form.comment_form {
  #comment-container {
    padding:10px;
    border:1px solid #e6e6e6;
    background:#f6f6f6;
    border-radius: 5px;
  }
  dd {margin-left:0px;}
  textarea#comment_content {
    width:900px;
    height:100px;
  }
  input[type='submit'] {
    margin:20px 0px;
    float:right;
  }
}

footer.footer {
  padding: 2em 0;
  position: relative;
  text-align: center;
  width: 100%;
  height: 3em;
  border-top: 2px solid #3c6;
  background-color: #333335;
  color: #ddd;
}

div.flex {
  min-height: 90%;
  height: auto !important;
  height: 90%;
  margin: 0 auto -2em 0;
}

.line .field {
  float:left;
  margin-right:20px;
}

.long {
  input[type='text'] {
    width:700px;
  }
  textarea {
    height:200px;
    width:700px;
  }
}


