.assignment-button {
  float:right;
}

.ticket-status-button  {
  width:100px;
}

.ticket {
  border: 1px solid gray;
  border-radius: 5px;
  margin-bottom:10px;
  padding:5px 10px 5px 10px;
  .number {
    padding: 15px 0px 0px 10px;
    float:left;
    font-size:26px;
    width:50px;
    small {
      font-size: 14px;
      vertical-align: super
    }
  }
  .ticket-content {
    float:left;
    padding: 15px 0 20px 50px;
    width:750px;

    .lead {
      margin-top:10px;
      margin-bottom:2px;
    }

    .created-by {
      color:gray;
    }
    .status {
      float:right;
    }
  }

}