<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= BRAND %> - Forgot Password</title>
    <style type="text/CSS">
    body, #bodystyle {
    min-height:600px;
    color:#000000;
    font-family:Helvetica, sans-serif;
    font-size:13px;
    line-height:16px}
    p {margin:0; padding:0; margin-bottom:16px;}
    a, a:link, a:visited {color:#000000;}
    </style>
  </head>
  <body style="min-height:600px; display:block; color:#000000; font-family:Helvetica,sans-serif; font-size:13px; line-height:16px" alink="#000000" link="#000000" text="#000000">
      <table border="0" cellspacing="12" cellpadding="0" style="font-family:Helvetica,sans-serif; font-size:13px; line-height:16px">
        <tr>
          <td valign="top" width="630" height="28">
          </td>
        </tr>
        <tr>
          <td valign="top" width="630" align="left">
            <p>Click the link below to reset your password.</p>
            <p><%= link_to(@url, @url) %></p>
            <p>If you did not make this request, no action is required. Your password cannot be changed without your response to this email verifying the request.</p>
            <p><%= BRAND %></p>
            <p><br />
              <br />
              <%= mail_to("clientservices@#{BRAND}.com", "Contact #{BRAND}") %>
            </p>
          </td>
        </tr>
      </table>
  </body>
</html>